<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
      <%#= link_to "Delete", tag_path(tag), method: :delete, data: { confirm: "Are you sure?" } %>

      <%= link_to "Delete", tag_path(tag), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </li>
  <% end %>
</ul>

<%= link_to "New Tag", new_tag_path, class: "new_tag" %>
